doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title minecraft.js
    link(rel="stylesheet", href="https://code.getmdl.io/1.1.3/material.blue-pink.min.css")
    link(rel="stylesheet", href="assets/style/app.css")
body
    div.demo-layout-transparent.mdl-layout.mdl-js-layout
        header.mdl-layout__header.mdl-layout__header--transparent
            div.mdl-layout__header-row
                //Title
                span.mdl-layout-title minecraft.js
                //Add spacer, to align navigation to the right
                div.mdl-layout-spacer
                //Navigation
                //
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="">Link</a>
                        <a class="mdl-navigation__link" href="">Link</a>
                        <a class="mdl-navigation__link" href="">Link</a>
                        <a class="mdl-navigation__link" href="">Link</a>
                    </nav>
        //
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Title</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
        main.mdl-layout__content
            div.mdl-grid
                div.mdl-cell.mdl-cell--2-col
                div.mdl-cell.mdl-cell--8-col
                    div.card-fullwidth.mdl-card.mdl-shadow--2dp
                        div.mdl-card__title
                            h2.mdl-card__title-text minecraft.js
                        div.mdl-card__supporting-text
                            ul
                                li Make an easily hackable minecraft-launcher with javascript</li>
                                li Use the technicpack.net api for modpack installation <em>(others to follow)</em></li>
                                li Allow the use of themes and preset setting/modapcks <em>(so others can brand the launcher without creating oh so many forks)</em></li>
                                li Implement new tech that's not yet used in the minecraft(launcher) world</li>
                        div.mdl-card__actions.mdl-card--border
                            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="https://gitlab.com/awesonium/minecraft.js") Explore code
                        div.mdl-card__menu
                            button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                                i.material-icons
                div.mdl-cell.mdl-cell--2-col
            div.mdl-grid
                div.mdl-cell.mdl-cell--2-col
                div.mdl-cell.mdl-cell--8-col
                    div.card-fullwidth.mdl-card.mdl-shadow--2dp
                        div.mdl-card__title
                            h2.mdl-card__title-text Builds
                        div.mdl-card__supporting-text
                            p Builds can be found at&nbsp;
                                a(href="https://gitlab.com/awesonium/minecraft.js/builds") Gitlab builds
                                |. Builds with the name of <em>packing</em> contain the packaged versions for 64bit windows and linux. just download the artifacts from one of the builds with a version tag.
                        div.mdl-card__actions.mdl-card--border
                            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="https://gitlab.com/awesonium/minecraft.js/builds") Go to the builds
                        div.mdl-card__menu
                            button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                                i.material-icons
                div.mdl-cell.mdl-cell--2-col
        footer.mdl-mini-footer
            div.mdl-mini-footer__left-section
                div.mdl-logo minecraft.js
                ul.mdl-mini-footer__link-list
                    li
                        a(href="https://gitlab.com/awesonium/minecraft.js") Suroce Code
                    li
                        a(href="https://gitlab.com/awesonium/minecraft.js/issues") Issues
    script(defer, src="https://code.getmdl.io/1.1.3/material.min.js")